body{
    margin:0px;
    padding:0px;
}
nav {
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    max-width: 100%;
    color: white;
    display:block;
    float:none;
    padding:7px 10px;
    
}


.flex a{
    text-decoration: none;
    color: white;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color:white;
    padding:10px 12px;

}

.flex a:hover {
    background-color: rgb(126, 123, 123);
 
}



form {
    float: right;
    padding: 10px 14px;
    text-align: center;
}
form:hover{
background-size: 1px;
background-color: rgb(126, 123, 123);
}


.login-button{
  padding:10px 14px;
  text-align: center;
  float: right;
  margin-left: 5px;
  margin-right:5px;
  color: rgb(2, 161, 2);
  background-color: rgb(32, 32, 32);
  border-style:solid;
  border-color:rgb(32, 32, 32);
 
}

.login-button:hover{
    background-color:green;
    border-radius: 2px;
    color: white;
   
    
}

.sign-up-button{
    padding:10px 14px;
    text-align: center;
    float: right;
    border-color: green;
    border-style:solid;
    border-width: 2px;
    border-radius:2px;
    
}

.sign-up-button:hover{
    background-color:green;
    border-radius: 2px;
   
    
}


