nav a{
    overflow:hidden;
    color:white;
    text-decoration: none;
}
nav {width:100%;
    padding:25px ;
    background-color: rgb(29, 28, 28);
    position:fixed;
    z-index:1;
    box-sizing:border-box;
    content:"";
    top:0;
    left:0;
    color:white;
    display: inline-block;
    flex-direction: row;
}
body {
    padding-top: 80px; 
}
#searchbar{
    float:right;
    margin-right:100px;
}
.button1{
    float:right;
    color:white;
    text-decoration:none;
    padding:15px 32px;
    outline: green;
}
.button2{
    float:right;
}

    
