body{
    margin:0px;
}
nav{
    background-color: black;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    overflow:hidden;
    padding:10px;
    margin:0px;
}
#navbar{
    margin:5px;
    padding:10px;
    
}
.flex{
    color:white;
    display:flexbox;
    list-style-type: none;

}

.flex a{
    display:inline;
    text-decoration: none;
    color:white;
    
}

.flex div{
    display:inline;
    float:right;
}

.flex form{
    display:inline;
    float:right;
}

h1 {
    padding:100px;
    left:20px
}